# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter notebook checkpoints (if any)
.ipynb_checkpoints/

# Virtual environment folders
env/
venv/
.venv/

# System files (Windows, Mac)
Thumbs.db
.DS_Store

# Video output files
*.mp4
*.avi

# Temporary folders
sample_videos/
temp/
output/
